{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block content %}
                        
                        
                    <div class="container">
                        
                        <h2 class="text-center bg-dark p-3 mt-3 text-white">Homapage</h2>
                    </div>
                    <br><br>
                   
                    <div class="container"><br>
                        {% for message in messages %}
                        <div class="container-fluid p-0 alert alert-success">
                          <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                              <span aria-hidden="True">&times;</span>
                            </button>
                            {{ message }}
                          </div>
                        </div>
                        {% endfor %}
                        {% if user.is_authenticated %}
                        <table class="table" border="2">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>FirstName</th>
                                    <th>LastName</th>
                                    <th>Branch</th>
                                    <th>Email</th>
                                    <th>Code</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in data %}
                                <tr>
                                    <td>{{ i.id }}</td>
                                    <td><a href="{% url 'details' id=i.id %}" style="text-decoration: none;">{{ i.first_name }}</a></td>
                                    <td>{{ i.last_name }}</td>
                                    <td>{{ i.branch }}</td>
                                    <td>{{ i.email }}</td>
                                    <td>{{ i.college_code }}</td>
                                    <td>
                                        <a href="{% url 'update' id=i.id %}" class="btn btn-sm btn-success">Edit</a>
                                        <a href="{% url 'delete' id=i.id %}" class="btn btn-sm btn-danger">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <a href="{% url 'create' %}" class="btn btn-success text-center">Add a Student</a>
                        {% else %}                  
                            <div class="alert alert-danger" role="alert">
                                <h4>You're not authorized this</h4>
                            </div>
                              {% endif %}
                    </div>
                   

{% endblock %}