{% extends 'base.html' %}
{% block title %} Student Details Page {% endblock %}

{% block content %}
                        
                        
                    <div class="container">
                        
                        <h2 class="text-center bg-dark p-3 mt-3 text-white">Student Details</h2>
                    </div>
                    <br><br>

                    <div class="container">
                        <h2 >FirstName: {{ form.first_name }} {{ form.last_name }}</h2> <br>
                        <h2 class="d-inline">Email: {{ form.email }}</h2><br><br>
                        <a href="{% url 'home' %}" class="btn btn-success text-center">Back To Home</a>
                    </div>


{% endblock %}